header.proyectos {
  height: 100vh;
  background: url(../../../public/images/img-header-proyectos.svg) right
      bottom no-repeat,
    url(../../../public/images/bg-header-desarrollo-web.jpg) center center
      no-repeat;
  background-size: 43vw, cover;
}

header.proyectos h4 {
  font-size: 57px;
  font-family: var(--circularBook);
}
