header.proyectos {
  height: 100vh;
  background: url(../../../public/images/monito_solo.svg) left 30%
  bottom 5% no-repeat, url(../../../public/images/img-header-proyectos.svg) right
      bottom no-repeat,
    url(../../../public/images/fondo_computadora.svg) center bottom no-repeat;
    background-size: 20vh, 100vh, cover;
}


@media only screen and (max-width: 768px) {
  header.proyectos {
    background: url(../../../public/images/img-header-proyectos.svg) center
        bottom no-repeat,
      url(../../../public/images/fondo_computadora.svg) center center
        no-repeat;
        background-size: 14vh, 70vh, cover;
  }
  
}

@media only screen and (max-width: 468px) {
  header.proyectos {
    background: url(../../../public/images/img-header-proyectos.svg) center
        bottom no-repeat,
      url(../../../public/images/Fondo_mobile_selva.svg) center center
        no-repeat;
        background-size: 90vw, cover;
  }
  
}