.filter-cont {
  position: relative;
  z-index: 20;
  margin-top: 5px;
}

.no-show {
  display: none;
  opacity: 0;
}

.filter-icon {
  font-size: 24px;
  position: relative;
  background-color: var(--lightBlue);
  padding: 5px 10px;
  border-radius: 2px;
  opacity: 1;
  transition: all 1s ease-out;
}

.inside-icon {
  font-size: 24px;
  padding: 5px 10px;
}

.dropdown-custom {
  top: -5px;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  background-color: var(--lightBlue);
  border-radius: 2px;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.dropdown-custom::-webkit-scrollbar {
  display: none;
}

.show {
  opacity: 1;
}

.filter-header {
  font-family: var(--circularBold);
  font-size: 18px;
  margin: 0;
}

.icon-and-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.close-icon {
  font-size: 18px;
  margin-right: 10px;
}

.line-separator {
  margin: 0px 0px 15px 0px;
  border: 1px solid #ffffff;
}

.filter-body {
  width: 100%;
  padding: 10px 20px;
}

.filter-by {
  font-family: var(--circularLight);
  font-size: 14px;
}

.inputs-cont {
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.category-header {
  color: #ffffffed;
}

.custom-checkbox:checked {
  background-color: #ffffff;
  border-radius: 0.15em !important;
  border: none !important ;
}

.custom-checkbox:hover {
  cursor: url(../../../../../public/images/cursor.svg), pointer;
}

.sticky-column {
  position: sticky !important;
  top: 120px !important;
  z-index: 5;
}

.no-load{
  display: none;
}