.filter-cont {
  position: relative;
  z-index: 20;
  margin-top: 5px;
}

.filter-icon {
  font-size: 24px;
  background-color: var(--lightBlue);
  padding: 5px 10px;
  border-radius: 2px;
}
.dropdown-custom {
  top: -5px;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  background-color: var(--lightBlue);
  border-radius: 2px;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.dropdown-custom::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.dropdown-custom::-webkit-scrollbar-track {
  background: var(--lightBlue-01);
}

/* Handle */
.dropdown-custom::-webkit-scrollbar-thumb {
  background: var(--yellow)
}

/* Handle on hover */
.dropdown-custom::-webkit-scrollbar-thumb:hover {
  background: var(--yellow)
}


.show {
  opacity: 1;
}

.filter-header {
  font-family: var(--circularBold);
  font-size: 18px;
}

.filter-drop-header {
  margin-top: 12px;
  margin-left: 45px;
}

.close-icon {
  font-size: 18px;
  padding: 5px 10px;
}

.line-separator {
  margin: 7px 0px;
  border: 1px solid #ffffff;
}

.filter-body{
  width: 100%;
  padding: 20px;
}

.filter-by{
  font-family: var(--circularLight);
  font-size: 14px;
}

.inputs-cont{
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.category-header{
  color: #ffffffed;
}

.custom-checkbox:checked{
  background-color: #ffffff;
  border-radius: 0.15em !important;
  border: none !important ;
}

.sticky-column{
  position: sticky !important;
  top: 120px !important;
  z-index: 5;
}
